<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <div>
        <div>
            <h2>Weather</h2>
            <table>
                <thead>
                <tr>
                    <th>Condition</th>
                    <th>Temperature</th>
                    <th>City</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="weather : ${weathers}">
                    <td th:text="${weather.weatherCondition}"></td>
                    <td th:text="${weather.temperature}"></td>
                    <td th:text="${weather.city}"></td>
                    <td th:text="${weather.datetime}"></td>
                    <td><a th:href="@{/delete_weather/{id}(id=${weather.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/weather">Powrót</a></p>
    </div>
</head>
<body>

</body>
</html>